body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
}

div {
    margin: 20px;
}

h3 {
    margin: 10px 0;
}

img {
    max-width: 100%;
    height: auto;
}
